{% extends "base.html" %}
{% load static %}
{% block title %}Redefenir Senha{% endblock %}
{% block css_usuarioapp %}
    <link rel="stylesheet" type="text/css" href='{% static "css/usuarioapp.css" %}'>
{% endblock %}
{% block body_block %}
    <!--<div class="ui basic stackable segment grid">-->
        <!--<div class="two wide column"></div>-->
        <!--<div class="twelve wide column">-->
        <div class="ten wide column">
            <div class="ui very padded segment">
                <h1 class="ui header">Redefinir Senha</h1>
                <div class="ui positive icon message">
                     <i class="close icon"></i>
                    <i class="check circle icon"></i>
                    <span class="content">
                        <div class="header">
                            Senha redefinida com sucesso!
                        </div>
                        <p>Sua senha foi redefinida com sucesso! <a href="/">Clique aqui para voltar à página inicial.</a></p>
                    </span>
                </div>
                <div class="ui basic center aligned segment">
                        <a class="ui button" href="{% url 'login' %}"> <i class="sign in icon"></i> Faça seu login aqui </a>

                </div>
            </div>
            </div>
        <!--</div>-->
        <!--<div class="two wide column"></div>-->
    <!--</div>-->

{% endblock %}