{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastrado com sucesso{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href='{% static "css/usuarioapp.css" %}'>
{% endblock %}
{% block active_cadastro %}active{% endblock %}
{% block body_block %}
<section class="p-3">

</section>
<section class="p-5">

</section>

<div class="container">
<div class="card text-center">
  <h5 class="card-header">Cadastro efetuado com sucesso!</h5>
  <div class="card-body">
    <h5 class="card-title">Obrigado pelo seu cadastro</h5>
         <p>Em instantes você receberá um e-mail com instruções para ativar sua conta.</p>
                        <p>Por favor acesse a url enviada no seu e-mail para o seu primeiro acesso ao sistema.</p>
<!--    <a href="#" class="btn btn-primary">Visitar</a>-->
      <a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger">Voltar</a>
            <a href="{% url 'home' %}" class="btn btn-primary">Clique aqui para voltar à página inicial.</a>

  </div>
</div></div>
{% endblock %}
