{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}Perfil do Usuário{% endblock %}
{% block body_block %}


            {% if message_sucess %}
                <p class="ui positive icon message">
                    <i class="close icon"></i>
                    <i class="check circle icon"></i>
                    <span class="content">
                        <span class="header">
                           Atualizado com sucesso!
                        </span>
                        <span> Seu perfil foi atualizado com sucesso.</span><a href="/">Clique aqui para voltar à página inicial.</a>
                    </span>
                </p>
            {% endif %}

                    <h1 class="ui center aligned icon header">
                        <i class="user icon"></i>
                        Perfil
                    </h1>

                        <div class="ui large ribbon label">Nome Completo</div>
                    <p class="ui small header">{{ object.first_name|title }} {{ object.last_name|title }}</p>
                    <p class="ui divider"></p>
                        <div class="ui large ribbon label">E-mail</div>
                    <p class="ui small header">{{ object.email|lower }}</p>


                    <div class="botaos">
                        <a href="{% url 'user-profile-edit' %}" class="ui button right floated e-green-button empilha green">Editar
                            Perfil</a>
                        <a href="{% url 'password_change' %}" class="ui button right floated e-red-button empilha blue">Alterar
                            Senha</a>
                        <a href="{{ request.META.HTTP_REFERER }}" class="ui button empilha red">Voltar</a>


{% endblock %}
